*{ 
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
   /*  width: auto;
    margin: 0 auto; */
    background-color: rgb(233, 233, 233);
    border: 1px solid #ffffff;
    color: #000000;
}

header{
    text-align: center;
    display: flex;
}

header img{
    margin: 0 auto;
    height: 15rem;
}

main{
    width: auto;
}

#bio{
    display: flex;
}

#name-date{
    display: flex;
    justify-content: space-between;
}

#bio-choose{
    width: 100%; 
}

#choose-list{
    padding: 1rem;
}

#choose-list h4{
    margin-bottom: 1rem;
}

#bio img{
    height: 200px;
    /* object-fit: */
}

#tech{
    height: 300px;
    display: flex;
    justify-content: space-between;
}

#tech img{
    flex: auto;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
}

#interest{
    height: 200px;
}

.answerBox{
    background-color: #006400;
    color: #ffffff;
}

#copyright {
    color: rbg(50, 50, 205);
    background-color: chartreuse;
}
