*{ 
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: auto;
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
    border: 1px solid #ffffff;
    color: #000000;
}

header{
    text-align: center;
}

header img{
    height: 150px;
}

section{
    margin: 2rem 0;
}

#bio{
    display: flex;
}

#name-date{
    display: flex;
    justify-content: space-between;
}

#bio-choose{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#choose-list{
    padding: 1rem;
}

#choose-list h4{
    margin-bottom: 1rem;
}

#bio img{
    height: 200px;
}

#tech{
    display: flex;
    justify-content: space-between;
}

figure {
    width: 10rem;
    text-align: center;
    font-size: small;
}

figure img{
    height: 10rem;
}

figcaption{
    color: #ffffff;
    background-color: #0000006b;
    padding: .5rem;
    position: relative;
    bottom: 1.5rem;
}

#interest{
    height: 200px;
}

.answerBox{
    background-color: #006400;
    color: #ffffff;
    padding: 1rem;
}

#interest h4{
    margin-bottom: 1rem;
}

#copyright {
    color: rbg(50, 50, 205);
    background-color: chartreuse;
}
